Proxy Authentication Header Missing

When a request is issued, Vulcan fails to respond with the "Proxy-Authenticate" header defined by the [RFC 2617 (section 3.6)](http://www.ietf.org/rfc/rfc2617.txt). 

```
Upon receiving a request which requires authentication, the proxy/server
must issue the "407 Proxy Authentication Required" response with a
"Proxy-Authenticate" header.  The digest-challenge used in the
Proxy-Authenticate header is the same as that for the WWW-
Authenticate header as defined above in section 3.2.1.
```

Example: 

```
GET /my/endpoint/goes/here HTTP/1.1
User-Agent: curl/7.22.0 (x86_64-pc-linux-gnu) libcurl/7.22.0 OpenSSL/1.0.1 zlib/1.2.3.4 libidn/1.23 librtmp/2.3
Host: myfancyproxy.com
Accept: */*

HTTP/1.1 407 Proxy Authentication Required
Server: nginx/1.4.1
Date: Wed, 30 Oct 2013 18:45:30 GMT
Content-Type: application/json
Content-Length: 41
Connection: keep-alive

* Connection #0 to host myfancyproxy.com left intact
* Closing connection #0
```

The header that should be returned is: 

```
Proxy-Authenticate: Basic
```
